# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment directory
venv/

# Ignore the Django secret key
*.secret

# Ignore log files
*.log

*.sqlite3

*.mysql
staticfiles/
media/