<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'artistIndex.html' %}
{% block body %}
<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" action="{% url 'updateArtWork' %}">
  <h1>EDIT ARTWORK</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row">ARTWORK NAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" value="{{val.name}}"></td>
      </tr>
      <tr>
        <th scope="row">PRICE</th>
        <td><label for="number"></label>
        <input type="number" name="number" id="number" value="{{val.price}}"></td>
      </tr>
      <tr>
        <th scope="row">AVAILABILITY</th>
        <td><label for="select"></label>
          <select name="select" id="select">
            <option value="yes" {% if val.availability == 'yes' %} selected{% endif %}>YES</option>
            <option value="no" {% if val.availability == 'no' %} selected{% endif %}>NO</option>
        </select></td>
      </tr>
      <tr>
        <th scope="row"><p>IMAGE</p></th>
        <td><label for="fileField"></label>
        <input type="file" name="fileField" id="fileField"> <img src="{{val.image.url}}" width="100" height="100"/></td>
      </tr>
      <tr>
        <th scope="row">DESCRIPTION</th>
        <td><label for="textarea"></label>
        <textarea name="textarea" id="textarea"> {{val.description}}</textarea></td>
      </tr>
      <tr>
        <th scope="row">DATE_CREATED</th>
        <td><label for="date"></label>
        <input type="date" name="date" id="date" value="{{ val.date_created|date:'Y-m-d' }}"></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="update"></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}