<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>addArtists</title>-->
<!--</head>-->
{% extends 'adminIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="addArtist">
  <h1>ADD ARTIST</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row">ARTIST NAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="name" id="textfield"></td>
      </tr>
      <tr>
        <th scope="row">AGE</th>
        <td><label for="number"></label>
        <input type="number" name="age" id="number"></td>
      </tr>
      <tr>
        <th scope="row">JOINING_DATE</th>
        <td><label for="date"></label>
        <input type="date" name="date" id="date"></td>
      </tr>
      <tr>
        <th scope="row">WORK_EXPERIENCE</th>
        <td><label for="number2"></label>
        <input type="number" name="number2" id="number2"></td>
      </tr>
      <tr>
        <th scope="row">GENDER</th>
        <td><input type="radio" name="radio" id="radio" value="male">
        <label for="radio">MALE
          <input type="radio" name="radio" id="radio2" value="female">
          FEMALE
        </label></td>
      </tr>
      <tr>
        <th scope="row">ADDRESS</th>
        <td><label for="textarea"></label>
        <textarea name="textarea" id="textarea"></textarea></td>
      </tr>
      <tr>
        <th scope="row">PHONE</th>
        <td><label for="tel"></label>
        <input type="tel" name="tel" id="tel"></td>
      </tr>
      <tr>
        <th scope="row">USERNAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="uname" id="textfield5"></td>
      </tr>
      <tr>
        <th scope="row">PASSWORD</th>
        <td><label for="password"></label>
        <input type="password" name="password" id="password"></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="ADD"></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp; </p>
</form>
</body>
<!--</html>-->
{% endblock %}