<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>adminHome</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>ADMIN</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">
          <p><a href="manageArtist">MANAGE ARTIST</a> </p>
        <p><a href="updtPriceAvailOfArtWork">UPDATE PRICE AND AVAILABILITY OF ARTWORK</a></p>
        <p><a href="viewCustomerOrder">VIEW CUSTOMER ORDER</a></p>
          <p><a href="viewArtworkPutSale">VIEW ARTIST ARTWORK AND PUT IT FOR PURCHASE</a></p>
        <p><a href="logout">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
