<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="log">
  <h1>LOGIN</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row">USERNAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="uname" id="textfield"></td>
      </tr>
      <tr>
        <th scope="row">PASSWORD</th>
        <td><label for="password"></label>
        <input type="password" name="password" id="password"></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="LOGIN">
          <p><a href="userReg">USER REGISTRATION</a></p>
        </th>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
