<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>changePassword</title>-->
<!--</head>-->
{% extends 'userIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="change_user_password">
  <h1>CHANGE PASSWORD</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="row">USERNAME</th>
        <td><label for="textfield"></label>
        <input type="text" name="uname" id="textfield"  value="{{val.username}}" disabled ></td>
      </tr>
      <tr>
        <th scope="row">OLD_PASSWORD</th>
        <td><label for="password"></label>
          <input type="password" name="password" id="password" required=""></td>
      </tr>
      <tr>
        <th scope="row">NEW_PASSWORD</th>
        <td><label for="password3"></label>
        <input type="password" name="password3" id="password3" required=""></td>
      </tr>
      <tr>
        <th scope="row">CONFIRM_PASSWORD</th>
        <td><label for="password2"></label>
        <input type="password" name="password2" id="password2" required=""></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><input type="submit" name="submit" id="submit" value="Submit"></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}