<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>add_artwork_requets</title>-->
<!--</head>-->
{% extends 'userIndex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post">
  <h1>SENT ARTWORK REQUEST</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col">ARTWORK NAME</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">STATUS</th>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.staus}}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3"><CENTER><a href="sentWorkReq">ADD</a></CENTER></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
<!--</html>-->
{% endblock %}