<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>uersHome</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <h1>USER HOME</h1>
  <table width="200" border="1">
    <tbody>
      <tr>
        <th scope="col"><p><a href="addWorkReq">ADD ARTWORK REQUEST TO ARTIST</a></p>
        <p><a href="viewArtworkAndorder">VIEW ARTWORK AND ORDER</a></p>
        <p><a href="viewArtworkAndPurchase">VIEW ARTWORK AND PURCHASE</a></p>
        <p><a href="logout">LOGOUT</a></p></th>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
